
html {
   width: 700px;
}
* {
   box-sizing: border-box;
}
body {
   padding: 20px;
}
.flex-grid {
   display: flex;
   .col {
      flex: 1;
   }
}
.col {
   padding: 10px;
}
.labelfont {
   font-family: monospace;
}
.w-5 {
   width: 500px;
}
.w-4 {
   width: 400px;
}
.w-3 {
   width: 300px;
}
.w-2 {
   width: 200px;
}
.w-1 {
   width: 100px;
}
.ls-1rem {
   line-height: 1rem;
}
.ls-1-1rem {
   line-height: 1.1rem;
}
.ls-1-15rem {
   line-height: 1.15rem;
}
.ls-1-2rem {
   line-height: 1.2rem;
}
.ls-1-25rem {
   line-height: 1.25rem;
}
.ls-1-4rem {
   line-height: 1.4rem;
}
.ls-1-5rem {
   line-height: 1.5rem;
}
.ls-1-55rem {
   line-height: 1.55rem;
}
.ls-1-625rem {
   line-height: 1.625rem;
}
.ls-1-75rem {
   line-height: 1.75rem;
}
.ls-2rem {
   line-height: 2rem;
}
