// CSS RESET/NORMALIZE
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"); // Should probably use Normalize. (https://necolas.github.io/normalize.css/)

// CSS FRAMEWORKS
// @import url("https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css"); // Want to use Bulma? (https://bulma.io/)
@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"); // Want to use Bootstrap? (https://getbootstrap.com/)
// @import url("https://unpkg.com/purecss@2.0.3/build/pure-min.css"); // Want to use Pure.css? (https://purecss.io/)
// @import url("https://unpkg.com/basscss@8.0.2/css/basscss.min.css"); // Want to use Bass CSS? (https://basscss.com/)
// @import url("https://cdnjs.cloudflare.com/ajax/libs/foundation/6.6.3/css/foundation.min.css"); // Want to use Foundation? (https://get.foundation/)
// @import url("https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css"); // Want to use Milligram? (https://milligram.io/)
// @import url("https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css"); // Want to use Skeleton? (http://getskeleton.com)

// OPENTYPE UTILITIES
@import url("https://cdn.rawgit.com/kennethormandy/utility-opentype/master/css/utility-opentype.min.css"); // Opentype Utilities (http://utility-opentype.kennethormandy.com/)

// CUSTOM CSS
@require './vars'; // Your variables
@require './custom'; // New CSS

