
// Colors
color-primary = #0088cc
color-black = #000
color-white = white
color-info = #0088cc
color-warning = #dba909
color-code = #dd1144
color-red = #ff0022
color-green = #00db7a
color-danger = color-red
color-success = color-green
color-blue = color-green
color-dark-blue = #2b3a89
color-link = color-green
color-teal = #39cccc
color-yellow = #fddf2f
color-orange = #ff851b
color-pink = #ff7376
color-purple = #b10dc9
color-background = color-white
gray-base = black
color-brand = #dd4726

color-gray-base = gray-base
color-gray-darker = lighten(gray-base, 20%)
color-gray-mid-darker = lighten(gray-base, 25%)
color-gray-dark = lighten(gray-base, 30%)
color-gray-mid-dark = lighten(gray-base, 32%)
color-gray = lighten(gray-base, 33.5%)
color-gray-light = lighten(gray-base, 46.7%)
color-gray-lightish = lighten(gray-base, 60%)
color-gray-lighter = lighten(gray-base, 70%)
color-gray-mid-lighterer = lighten(gray-base, 85%)
color-gray-lighterer = lighten(gray-base, 93.5%)
color-gray-mid-lightest = lighten(gray-base, 95%)
color-gray-lightest = lighten(gray-base, 97.5%)

// Breakpoints
bp-xsmall = 350px
bp-small = 576px
bp-medium = 768px
bp-large = 992px
bp-xlarge = 1200px
bp-xxlarge = 1500px

// Transition
xfast = 0.1s
fast = 0.3s
medium = 1s
slow = 3s

// Border Radius
border-radius = 3px

//Letter Spacing
tracked = 0.05em