
// Colors
cl-navy = #001F3F
cl-blue = #0074D9
cl-aqua = #7FDBFF
cl-teal = #39CCCC
cl-olive = #3D9970
cl-green = #2ECC40
cl-lime = #01FF70
cl-yellow = #FFDC00
cl-orange = #FF851B
cl-red = #FF4136
cl-fuchsia = #F012BE
cl-purple = #B10DC9
cl-maroon = #85144B
cl-white = #FFFFFF
cl-silver = #DDDDDD
cl-gray = #AAAAAA
cl-black = #111111

cl-primary = cl-purple
cl-brand = cl-white
cl-info = cl-navy
cl-link = cl-blue
cl-danger = cl-red
cl-warning = cl-yellow
cl-success = cl-green

cl-gray-base = cl-black
cl-gray-darker = lighten(cl-gray-base, 20%)
cl-gray-mid-darker = lighten(cl-gray-base, 25%)
cl-gray-dark = lighten(cl-gray-base, 30%)
cl-gray-mid-dark = lighten(cl-gray-base, 32%)
cl-gray = lighten(cl-gray-base, 33.5%)
cl-gray-light = lighten(cl-gray-base, 46.7%)
cl-gray-lightish = lighten(cl-gray-base, 60%)
cl-gray-lighter = lighten(cl-gray-base, 70%)
cl-gray-mid-lighterer = lighten(cl-gray-base, 85%)
cl-gray-lighterer = lighten(cl-gray-base, 93.5%)
cl-gray-mid-lightest = lighten(cl-gray-base, 95%)
cl-gray-lightest = lighten(cl-gray-base, 97.5%)


// Breakpoints
bp-xsmall = 350px
bp-small = 576px
bp-medium = 768px
bp-large = 992px
bp-xlarge = 1200px
bp-xxlarge = 1500px


// Transition
xfast = 0.1s
fast = 0.3s
medium = 1s
slow = 3s


// Border Radius
border-radius = 3px


// Letter Spacing
tracked = 0.05em